{% extends 'base.html'%}

{% block titleblock%}Interest - Calculate{% endblock %}
{% block headblock %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}

{% block bodyblock %}
<div class="jumbotron">
  <h1>Welcome to the Interest Rates Conversion Page!</h1>
  <h2>Select a conversion below to begin</h2>
</div>

<div class="container text-center" style="margin-top: 20px;margin-bottom: 20px;">

<div class="row" style="margin-top: 20px;margin-bottom: 20px;">
  <div class="col-sm d-flex justify-content-center">
    <div class="card">
    <div class="card-body">
      <h5 class="card-title">Annual Effective <span class="maths h5">\((i)\)</span>  to:</h5>
      <div class="card" style="width: 20rem;">
        <ul class="list-group list-group-flush">
          <a href="{% url 'interest_app:create_AEtoNP' %}"><li class="list-group-item list-group-item-action">Nominal Per Period <span class="maths h5">\(i^{(p)}\)</span></li></a>
          <a href="{% url 'interest_app:create_AEtoEP' %}"><li class="list-group-item list-group-item-action">Effective Per Period <span class="maths h5">\( \frac{i^{(p)}}{p} \)</span></li></a>
          <a href="{% url 'interest_app:create_AEtoC' %}"><li class="list-group-item list-group-item-action">Continuous <span class="maths h5">\( \delta \)</span></li></a>
        </ul>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="row" style="margin-top: 20px;margin-bottom: 20px;">
<div class="col-sm d-flex justify-content-center">
  <div class="card">
  <div class="card-body">
    <h5 class="card-title">Effective Per Period <span class="maths h5">\( \frac{i^{(p)}}{p} \)</span> to:</h5>
    <div class="card" style="width: 20rem;">
      <ul class="list-group list-group-flush">
        <a href="{% url 'interest_app:create_EPtoAE' %}"><li class="list-group-item list-group-item-action">Annual Effective <span class="maths h5">\((i)\)</span></li></a>
        <a href="{% url 'interest_app:create_EPtoEP' %}"><li class="list-group-item list-group-item-action">Effective Per Period <span class="maths h5">\( \frac{i^{(p)}}{p} \)</span></li></a>
        <a href="{% url 'interest_app:create_EPtoNP' %}"><li class="list-group-item list-group-item-action">Nominal Per Period <span class="maths h5">\(i^{(p)}\)</span></li></a>
        <a href="{% url 'interest_app:create_EPtoC' %}"><li class="list-group-item list-group-item-action">Continuous <span class="maths h5">\( \delta \)</span></li></a>
      </ul>
    </div>
  </div>
</div>
</div>
</div>

<div class="row" style="margin-top: 20px;margin-bottom: 20px;">
<div class="col-sm d-flex justify-content-center">
  <div class="card">
  <div class="card-body">
    <h5 class="card-title">Nominal Per Period <span class="maths h5">\(i^{(p)}\)</span> to:</h5>
    <div class="card" style="width: 20rem;">
      <ul class="list-group list-group-flush">
        <a href="{% url 'interest_app:create_NPtoAE' %}"><li class="list-group-item list-group-item-action">Annual Effective <span class="maths h5">\((i)\)</span></li></a>
        <a href="{% url 'interest_app:create_NPtoNP' %}"><li class="list-group-item list-group-item-action">Nominal Per Period <span class="maths h5">\(i^{(p)}\)</span></li></a>
        <a href="{% url 'interest_app:create_NPtoEP' %}"><li class="list-group-item list-group-item-action">Effective Per Period <span class="maths h5">\( \frac{i^{(p)}}{p} \)</span></li></a>
        <a href="{% url 'interest_app:create_NPtoC' %}"><li class="list-group-item list-group-item-action">Continuous <span class="maths h5">\( \delta \)</span></li></a>
      </ul>
    </div>
  </div>
</div>
</div>
</div>

<div class="row" style="margin-top: 20px;margin-bottom: 20px;">
<div class="col-sm d-flex justify-content-center">
  <div class="card">
  <div class="card-body">
    <h5 class="card-title">Continuous <span class="maths h5">\( \delta \)</span> to:</h5>
    <div class="card" style="width: 20rem;">
      <ul class="list-group list-group-flush">
        <a href="{% url 'interest_app:create_CtoAE' %}"><li class="list-group-item list-group-item-action">Annual Effective <span class="maths h5">\((i)\)</span></li></a>
        <a href="{% url 'interest_app:create_CtoEP' %}"><li class="list-group-item list-group-item-action">Effective Per Period <span class="maths h5">\( \frac{i^{(p)}}{p} \)</span></li></a>
        <a href="{% url 'interest_app:create_CtoNP' %}"><li class="list-group-item list-group-item-action">Nominal Per Period <span class="maths h5">\(i^{(p)}\)</span></li></a>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
</div>
{% endblock %}
